@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --maz-color-primary: #FE5835 !important;
    --maz-color-primary-dark: #e04c2f !important;
    --maz-color-primary-light: #ff7553 !important;
}

.maz-input {
    border-color: var(--maz-color-primary) !important;
}

.maz-input input:focus {
    border-color: #FE5835 !important;
    box-shadow: 0 0 5px #FE5835 !important;
}

input[type="checkbox"]:checked {
    accent-color: #FE5835; /* Remplace par ta couleur primaire */
}

/* Personnalisation de la barre de défilement dans un select */
select {
    overflow-y: auto; /* Active le défilement vertical */
    scrollbar-width: thin; /* Pour les navigateurs Firefox */
  }
  
  /* Personnalisation pour les navigateurs basés sur WebKit */
  select::-webkit-scrollbar {
    width: 8px; /* Largeur de la barre de défilement */
  }
  
  select::-webkit-scrollbar-track {
    background: #f1f1f1; /* Couleur de fond de la piste */
  }
  
  select::-webkit-scrollbar-thumb {
    background: #6d3500; /* Couleur primaire de ton thème */
    border-radius: 10px;
  }
  
  select::-webkit-scrollbar-thumb:hover {
    background: #bd7b00; /* Couleur sur hover */
  }


  
