@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --maz-color-primary: #FE5835 !important;
    --maz-color-primary-dark: #e04c2f !important;
    --maz-color-primary-light: #ff7553 !important;
}

.maz-input {
    border-color: var(--maz-color-primary) !important;
}

.maz-input input:focus {
    border-color: #FE5835 !important;
    box-shadow: 0 0 5px #FE5835 !important;
}

:deep(.maz-select__option:hover) {
  background-color: #facc15; /* jaune-300 */
  color: #000;
}

:deep(.maz-select__option.is-selected) {
  background-color: #816803; /* jaune */
  font-weight: bold;
}

::v-deep(.custom-option:hover) {
  background-color: #c7d2fe;
  color: #1e293b;
}

input[type="checkbox"]:checked {
    accent-color: #FE5835; /* Remplace par ta couleur primaire */
}

/* Personnalisation de la barre de défilement dans un select */
/* Scrollbar personnalisée */
.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #f6ca3b; /* par ex. bleu Tailwind */
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #ffd992;
}


  
